# Arquivos e pastas gerados pelo build do ESP-IDF
/build/
/dist/
sdkconfig
sdkconfig.old

# Arquivos de configuração local do VS Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.history/

# Arquivos temporários do C/C++
*.o
*.d

# Outros
*.DS_Store